<strong>Recuperando senha</strong>

<p>Uma solicitacao de recuperacao de senha foi realizada par o e-mail ({{email}})</p>
<p>Para continuar com a recuperacao utilize o token {{token}} ou clique no link</p>

<a href="{{link}}">Criar nova senha</a>
